@model IcSMP.Models.CategoryModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="data-container">
    <h1>Category Details</h1>

<div>
  <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div class="details-btn">
        <button type="button" class="btn btn-primary">
            <a asp-action="Index">Back to List</a>
        </button>
        <button type="button" class="btn btn-primary">
            <a asp-action="Index">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</a>
        </button>
</div>

</div>