@model IEnumerable<IcSMP.Models.CategoryModel>

@{
    ViewData["Title"] = "Categories View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="data-container">
    <h1>Categories View</h1>
    <a asp-action="Create" class="btn-custom create-btn">
        <i class="fa-regular fa-square-plus"></i>
        Create New</a>

    <table class="table">
        <thead>
            <tr>
               @* <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <span>
                            <span class="btn-custom create-btn">
                                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  })
                            </span>
                            <span>
                                @Html.ActionLink("Details", "Details", new { id=item.Id })
                            </span>
                            <span>
                                @Html.ActionLink("Delete", "Delete", new { id=item.Id  })
                            </span>
                        </span>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


