@using IcSMP.ViewModels;
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="data-container">
    <h1>Products</h1>
    <a asp-action="Create" class="btn-custom create-btn">
        <i class="fa-regular fa-square-plus"></i>
        Create New
    </a>
    <table class="table">
        <thead>
            <tr>
                @*<th>
                @Html.DisplayNameFor(model => model.Id)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="hide-600px">
                    @Html.DisplayNameFor(model => model.ProductNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Buc)
                </th>
                <th class="hide-1080px">
                    @Html.DisplayNameFor(model => model.Caen)
                </th>
                <th class="hide-1080px">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    <span class="display-none">
                        @Html.DisplayNameFor(model => model.SupplierId)
                    </span>
                    <span class="hide-600px">
                        @Html.DisplayNameFor(model => model.Supplier)
                    </span>                                      
                </th>
                <th>
                    <span class="display-none">
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </span>
                    <span class="hide-600px">
                        @Html.DisplayNameFor(model => model.Category)
                    </span>                                       
                </th>
                <th class="hide-600px">
                    @Html.DisplayNameFor(model => model.BuyPrice)
                </th>
                <th class="hide-1350px">
                    @Html.DisplayNameFor(model => model.SellPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellPriceVat)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-reverse">
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="hide-600px">
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Buc)
                    </td>
                    <td class="hide-1080px">
                        @Html.DisplayFor(modelItem => item.Caen)
                    </td>
                    <td class="hide-1080px">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <span class="display-none">
                            @Html.DisplayFor(modelItem => item.SupplierId)
                        </span>
                        <span class="hide-600px">
                            @Html.DisplayFor(modelItem => item.Supplier)
                        </span>                                                       
                    </td>
                    <td>
                        <span class="display-none">
                            @Html.DisplayFor(modelItem => item.CategoryId)
                        </span>
                        <span class="hide-600px">
                            @Html.DisplayFor(modelItem => item.Category)
                        </span>                                     
                    </td>
                    <td class="hide-600px">
                        @Html.DisplayFor(modelItem => item.BuyPrice)
                    </td>
                    <td class="hide-1350px">
                        @Html.DisplayFor(modelItem => item.SellPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellPriceVat)
                    </td>
                    <td class="action-link-space">
                        <span class="action-icon-hover">
                            <i class="fa-solid fa-pen-to-square action-icon"></i>
                            <span class="action-link">
                                @Html.ActionLink("...", "Edit", new {  id=item.Id  })
                            </span>
                        </span>
                        <span class="action-icon-hover">
                            <i class="fa-solid fa-circle-info action-icon"></i>
                            <span class="action-link">
                                @Html.ActionLink("...", "Details", new { id=item.Id })
                            </span>
                        </span>
                        <span class="action-icon-hover">
                            <i class="fa-solid fa-trash action-icon"></i>
                            <span class="action-link">
                                @Html.ActionLink("...", "Delete", new { id=item.Id  })
                            </span>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>