@using IcSMP.ViewModels;
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="data-container">
    <div class="container-title">
        <h1>Products</h1>
        <div id="datetime"></div>
    </div>
    
    <div class="d-flex flex-wrap text-center button-search">
        <a asp-action="Create" class="btn-custom create-btn">
            <i class="fa-regular fa-square-plus"></i>
            Create New
        </a>
        <a class="btn-custom create-btn" id="reportBtn">
            <i class="fa-solid fa-box-archive"></i>
            Reports
        </a>
        <div class="search-container ml-auto">
            <input id="searchInput" type="text" placeholder="Search...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div class="reportsPartialVeiwContainer" id="reportsPartialVeiwContainer">
        <partial name="Reports" model="Model"></partial>
    </div>

    <table class="table">
        <thead>
            <tr>
                @*<th>
                @Html.DisplayNameFor(model => model.Id)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="hide-600px">
                    @Html.DisplayNameFor(model => model.ProductNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Buc)
                </th>
                <th class="hide-1080px">
                    @Html.DisplayNameFor(model => model.Caen)
                </th>
                <th class="hide-1080px">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    <span class="display-none">
                        @Html.DisplayNameFor(model => model.SupplierId)
                    </span>
                    <span class="hide-600px">
                        @Html.DisplayNameFor(model => model.Supplier)
                    </span>
                </th>
                <th class="hide-1080px">
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    <span class="display-none">
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </span>
                    <span class="hide-600px">
                        @Html.DisplayNameFor(model => model.Category)
                    </span>
                </th>
                <th class="hide-600px">
                    @Html.DisplayNameFor(model => model.BuyPrice) @*Pret intrare fara TVA*@
                </th>
                <th class="hide-600px">
                    @Html.DisplayNameFor(model => model.Buy_Price_Whit_Vat)  @*Pret intrare cu TVA*@
                </th>
                <th class="hide-600px">
                    @Html.DisplayNameFor(model => model.Total_Buy_Whit_Vat_Item) @*Pretul de intrare cu tva * nr de buc / pe unitate*@
                </th>
                <th class="hide-600px">
                    @Html.DisplayNameFor(model => model.TotalBuyItem) @*Pretul de intrare fara tva * nr de buc / pe unitate*@
                </th>
                <th class="hide-600px">
                    @Html.DisplayNameFor(model => model.TotalBuy) @*Suma tuturor preturilor de intrare fara TVA*@
                </th>
                <th class="hide-600px">
                    @Html.DisplayNameFor(model => model.Total_Buy_Whit_Vat) @*Suma tuturor preturilor de intrare cu TVA*@
                </th>
                <th class="hide-1350px">
                    @Html.DisplayNameFor(model => model.SellPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellPriceVat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuyDate)
                </th>
            </tr>
        </thead>
        <tbody class="table-reverse">
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="hide-600px">
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Buc)
                    </td>
                    <td class="hide-1080px">
                        @Html.DisplayFor(modelItem => item.Caen)
                    </td>
                    <td class="hide-1080px">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <span class="display-none">
                            @Html.DisplayFor(modelItem => item.SupplierId)
                        </span>
                        <span class="hide-600px">
                            @Html.DisplayFor(modelItem => item.Supplier)
                        </span>
                    </td>
                    <td class="hide-1080px">
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        <span class="display-none">
                            @Html.DisplayFor(modelItem => item.CategoryId)
                        </span>
                        <span class="hide-600px">
                            @Html.DisplayFor(modelItem => item.Category)
                        </span>
                    </td>
                    <td class="hide-600px">
                        @Html.DisplayFor(modelItem => item.BuyPrice) @*Pret intrare fara TVA*@
                    </td>
                    <td class="hide-600px">
                        @Html.DisplayFor(modelItem => item.Buy_Price_Whit_Vat) @*Pret intrare cu TVA*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total_Buy_Whit_Vat_Item) @*Pretul de intrare cu tva * nr de buc / pe unitate*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalBuyItem) @*Pretul de intrare fara tva * nr de buc / pe unitate*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalBuy) @*Suma tuturor preturilor de intrare fara TVA*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total_Buy_Whit_Vat) @*Suma tuturor preturilor de intrare cu TVA*@
                    </td>
                    <td class="hide-1350px">
                        @Html.DisplayFor(modelItem => item.SellPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellPriceVat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuyDate)
                    </td>

                    <td class="action-link-space">
                        <span class="action-icon-hover">
                            <i class="fa-solid fa-pen-to-square action-icon"></i>
                            <span class="action-link">
                                @Html.ActionLink("...", "Edit", new {  id=item.Id  })
                            </span>
                        </span>
                        <span class="action-icon-hover">
                            <i class="fa-solid fa-circle-info action-icon"></i>
                            <span class="action-link">
                                @Html.ActionLink("...", "Details", new { id=item.Id })
                            </span>
                        </span>
                        <span class="action-icon-hover">
                            <i class="fa-solid fa-trash action-icon"></i>
                            <span class="action-link">
                                @Html.ActionLink("...", "Delete", new { id=item.Id  })
                            </span>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

